[submodule "deps/ide-backend"]
	path = deps/ide-backend
	url = git@github.com:fpco/ide-backend.git
[submodule "deps/ide-backend-client"]
	path = deps/ide-backend-client
	url = git@github.com:mgsloan/ide-backend-client.git
[submodule "deps/JsonGrammar2"]
	path = deps/JsonGrammar2
	url = git://github.com/mgsloan/JsonGrammar2.git
[submodule "deps/ghcjs-react"]
	path = deps/ghcjs-react
	url = git@github.com:fpco/ghcjs-react.git
[submodule "deps/ghcjs-from-typescript"]
	path = deps/ghcjs-from-typescript
	url = git://github.com/fpco/ghcjs-from-typescript.git
[submodule "deps/ghcjs-jquery"]
	path = deps/ghcjs-jquery
	url = git@github.com:ghcjs/ghcjs-jquery.git
