docker:
  repo-suffix: "_ghc-7.8.4.20141229_stackage-lts-1.0"
  image-tag: "20150101"
packages:
  - ./deps/JsonGrammar2
  - ./deps/ide-backend-client
  - ./deps/ide-backend-client/ide-backend-json
  - ./deps/ide-backend/ide-backend
  - ./deps/ide-backend/ide-backend-common
  - ./deps/ide-backend/ide-backend-server
  - ./deps/ide-backend/vendor/cabal/Cabal
  - ./deps/language-typescript
  - ./deps/stack-prism
  - .
